*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
    
    
    --text:#FFFFFF;
    --text-green: #52b788;
 
    overflow: overlay;
     --bg-color: hsl(0, 0%, 8%);
     background-color: var(--bg-color);
}


/* incio header */

.header{
   padding: 1.5rem 10rem;
   display: flex;
   justify-content: space-around;
}
.header h1 span {
    color: #52b788;
    
}

.header h1{
    font-size: 2rem;
    color: var(--text);
    text-decoration: underline 2px #2d6a4f;
    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    padding-bottom: 1.5rem;
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.15rem;
    position: relative;
    transition: 0.7s;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 3px;
    background: #52b788;
    transition:0.5s ;
}

.menu a:hover::after {
    width: 100%;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}




/*  Inicio Intro   */

.Container-intro {
    display: flex;
    height: 90vh;
    text-align:left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}   

.Container-intro img {
    width: 350px;
    border-radius: 10%;
    box-shadow: #000 0px 0px 30px;
    transition: 0.5s;
    margin-left: 100px;
}

.Container-intro img:hover{
    transform: scale(1.04);
    
}

.text{
    color: var(--text);
    
}

.text a{
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border:solid #52b788;
    color: var(--text-green);
    padding: 15px;
    transition: 0.5s;
}
.text a:hover{
        background-color: #52b788;
        color: var(--text);
    }

.text h2{
    margin-left: 5px;
    font-size: 1.4rem;
    color: #2d6a4f;
    font-family: serif;
}
.text h1{
    color: #52b788;
    font-size: 3.6rem;
    margin-bottom: 20px;
    
}

.text p{
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 1.5rem;
}


/* inicio about */


.Container-about {
   display: flex;
   flex-direction: column;
    padding: 30px 20%;
    height: 90vh;
    text-align: left;
    background-color: #0D0D0D;
}

.Container-about p {
    margin-top: 60px;
    font-size: 1.2rem;
    color: var(--text);
    margin-bottom: 20px;
}
.Container-about h2 {
    color: #52b788;
    font-size:50px;
    text-align: center;
    font-family: serif;
}


/* inicio skills */


.Container-skills {
    display: flex;
    flex-direction: column;
    padding: 30px 20%;
    height: 50vh;
    text-align: left;
    width: 100%;
}
.Container-skills h2 {
    color:var(--text-green);
    font-size: 50px;
    text-align: center;
    font-family: serif;
}


.image-logo{  
    display: flex;  
    align-items: center;
    justify-content: center;
}
.image-logo img {
    margin-top: 60px;
    width: 150px;
    margin-right: 70px;
    transition: 0.9s;
    position: relative;
    background-color: #232526;
    padding: 30px;
    border-radius: 5px;
}

.image-logo img:hover{
    transform: scale(1.05);
    background-color: #414345;
  
}


/* inicio footer */
.linha{
  width: 70%;
  margin: 0 auto;
  border:1px solid rgba(172,172,172);
}
footer{
    padding: 70px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0D0D0D;
}
.Container-footer {
    display: block;
    
    color: #FFFFFF;
    margin-right: 10%;
    }
.Container-footer h2 span {
    color: #52b788;   
}
.Container-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.Container-footer a{
    text-decoration: none;
    color: #FFF;
}



.redes-sociais {
    display: flex;
    margin-top: 20px;  
}
.redes-sociais a {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    color: #adadad75;
    margin-bottom: 30px;
}
.bi{
    transition: 0.3s ease;
    
}
.bi-github:hover{
    color: #FFF;
   transform: translateY(-5px);  
}
.bi-linkedin:hover{   
    color: #087EBD;
   transform: translateY(-5px);
   
}
.bi-envelope-fill:hover{
    color: #FFF;
   transform: translateY(-5px);

}



/*Media queries*/




.text , .efeito-img-topo , .Container-intro ,.Container-about, .Container-skills, .Container-projets, .Container-footer, #footer, .Container-contato{
    visibility: hidden;
}


@media screen and (min-width:1000px){
    .image-logo img {
     padding: 13px;
     width: 100px;
     margin-right: 20px;
    }
}




@media screen and (max-width:1024px){
    .header h1 {
        font-size: 2.2rem;
    }
    
    .menu a {
        font-size: 2rem;
        margin: 0 10px;
    }
    
    .Container-intro {
        flex-direction: column;
        
    }
    
    .Container-intro h1 {
        font-size: 2rem;
        text-align: center;
    }
    .Container-intro p {
        font-size: 1rem;
    }
    
    

    .Container-intro img {
        width: 250px;
        height: 300px;
        margin:40px 0;
    }
    
    
    .text a {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
    .Container-about, .Container-skills, .Container-projets {
        padding: 10px 40px;
        height: auto;
    }
    .Container-about p {
        font-size: 1rem;
    }
    .Container-about h2,.Container-skills h2, .Container-projets h2, .Container-contato h2 {
        font-size: 2rem;
    }

    .image-logo img {
     padding: 13px;
     width: 80px;
     margin-right: 20px;
    }
.Container-skills {
     height: 300px;
}
 
    .menu{
        display: none;
    }
    .header h1{
        padding: 1.5rem 4rem;
    }
    .mobile-menu-icon{
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .mobile-menu-icon img {
        width: 2rem;
    }
   .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
   }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 7rem;
        left: 1rem;
        
        background: transparent;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .mobile-menu::before{
        content: ''; 
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(12, 11, 11, 0.3); /* Cor de fundo com transparência */
        backdrop-filter: blur(5px); /* Efeito de desfoque */
        z-index: -1;
    }

    .mobile-menu.open {
        display: block ;
    }
    .mobile-menu ul{
     display: flex;
     flex-direction: column;
     text-align: center;
     padding-top: 20%;
    }

    .mobile-menu li{   
        display: block;
        padding-top: 2rem;
    }
    .mobile-menu a {
        padding-bottom: 1.5rem;
        color: var(--text);
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        position: relative;
         transition: 0.7s;
    }

    
}

/* End of original rules */